.App {
  font-family: sans-serif;
  text-align: center;
}

.clicker {
  height: 90%;
  width: 60%;
}

.todo {
  padding: 5px;
  margin: 3px;
  border: 2px grey solid;
  background-color: lightblue;
}
